input {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5em;
    margin-left: 8rem;
}

.repos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.1rem;
}

.repositorio {
    width: 250px;
    background-color: rgb(221, 169, 221);
    color: #4f2158;
    margin: 0.4rem;
    padding: 1.3rem;
    list-style-type: none;
    border-radius: 0.6rem;
    text-align: center;
}

@media (max-width: 768px) {
    input {
        width: 250px;
        margin: 2rem;
        margin-left: 5.5rem;
        padding: 1.5rem;
        border-radius: 0.5rem; 
    }
}

@media (max-width: 425px) {
    input {
        width: 240px;
        margin: 1rem;
        margin-left: 6.7rem;
        padding: 1.3rem;
        border-radius: 0.5rem; 
    }
}

.repos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.repositorio {
    font-size: 15px;
    width: 200px;
    background-color: rgb(221, 169, 221);
    color: #4f2158;
    margin-left: 2rem;
    padding: 1.3rem;
    list-style-type: none;
    border-radius: 0.6rem;
    text-align: center;
}